/**
 * WP Slatan Theme - Security Tab Styles
 * Styles specific to the Security settings tab
 * 
 * @package WP_Slatan_Theme
 * @since 1.0.0
 */

/* Security tab specific styles go here */
/* Currently using shared base styles */