/**
 * WP Slatan Theme - General Tab Styles
 * Styles specific to the General settings tab
 * 
 * @package WP_Slatan_Theme
 * @since 1.0.0
 */

/* General tab specific styles go here */
/* Currently using shared base styles */